{% extends 'railmate/base.html' %}
{% block content %}
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("p").toggleDropdown();
    });
    $("#show").click(function(){
        $("p").show();
    });
});
</script>
    <div class="container text-center top-bottom-margin">
        <div class="col-sm-4 text-left">
            <div class="card-background row" id="account ">
                <h4 class="card-title">Account
                    {% if user_info.avatar %}
                        <img class="avatar" src="{{ user_info.avatar.url }}">
                    {% else %}
                        <img class="avatar" src="/static/railmate/default_avatar.png">
                    {% endif %}
                </h4>
                <div class="col-xs-5"><strong>
                    <p>Name:</p>
                    <p>E-mail:</p>
                    <p>Age:</p>
                </strong>
                </div>
                <div class="col-xs-7">
                    <p>{{ user_info.user }}</p>
                    <p>{{ user_info.email }}</p>
                    <p>{{ user_info.age }}</p>
                </div>
                <div class="col-xs-7"><a href="{% url 'edit' %}">Edit <span class="glyphicon glyphicon-edit"></span></a></div>
            </div>
            <div class="card-background row" id="reviews">
                <h4>Reviews</h4>
                <ul class="list-unstyled">
                    <li class="list-item"><img class="avatar" src="">
                        <h4>Comment title</h4>
                        <p>Comment itself</p>
                    </li>
                    <li class="list-item"><img class="avatar" src="">
                        <h4>Comment title</h4>
                        <p>Comment itself</p>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-sm-8 ">
            <div class="tab-background">
                <ul class="nav nav-tabs">
                    <li class="active col-xs-6"><a data-toggle="tab" href="#my-trips">My trips</a></li>
                    <li class="col-xs-6"><a data-toggle="tab" href="#history">History</a></li>
                </ul>
                <div class="panel-body card-background tab-content text-left">
                    <div class="tab-pane active" id="my-trips">
                     <!-- List of my ride alongs-->
                        <script>
                            $(document).ready(function(){
                                $('[data-toggle="popover"]').popover({html:true,trigger:'focus'});
                            });
                        </script>
                        <ul class="list-unstyled row">


                        {% if ride_along %}
                            <div class="col-xs-12 col-sm-offset-1 col-sm-7"><h3><strong>Upcoming ride alongs</strong></h3></div>
                        {% endif %}
                        {% for ride in ride_along %}
                            {% ifchanged ride.trip_id.date.day %}
                                </ul><ul class="list-unstyled row"><div class="col-xs-12 col-sm-offset-1 col-sm-7"><h5><strong>{{ride.trip_id.date}}</strong></h5></div>
                            {% endifchanged %}
                            <li>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="ridealong-card bg-success">
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-10">
                                            <h4>{{ ride.trip_id.source}} - {{ ride.trip_id.destination}}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-7"><strong>{{ ride.trip_id.time}}</strong></div>
                                            <div class="col-xs-1">
                                            </div>
                                            <div class="col-xs-1">
                                            </div>
                                        </div>
                                        <br>
                                        <p>
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-5">
                                                <a href="#" title="{{ride.trip_id.user }}" data-toggle="popover" data-placement="bottom" data-content="" >
                                                        <img  alt="{{ ride.trip_id.user}}" class="img-rounded" width="25" src="{% if ride.trip_id.user.profile.avatar %}/media/{{ ride.trip_id.user.profile.avatar }}{% else %}/static/railmate/default_avatar.png {% endif %}"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-5">
                                            </p>
                                            </div>
                                        </div> <br>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% if ride_along %}
                            <hr>

                        {% endif %}
                            </ul>
                    <!-- List of my trips-->
                        <ul class="list-unstyled row">

                        {% if trip_info %}
                            <div class="col-xs-12 col-sm-offset-1 col-sm-7"><h3><strong>Upcoming trips</strong></h3></div>
                        {% endif %}
                        {% for trip in trip_info %}
                            {% ifchanged trip.date.day %}
                                </ul><ul class="list-unstyled row"><div class="col-xs-12 col-sm-offset-1 col-sm-7"><h5><strong>{{trip.date}}</strong></h5></div>
                            {% endifchanged %}
                            <script>
                                $(document).ready(function(){
                                        $(".toggle_trip_{{ trip.pk }}").click(function(){
                                        $(".trip_{{ trip.pk }}").slideToggle("slow");
                                             });
                                         $('[data-toggle="popover"]').popover({html:true,trigger:'focus'});
                                });
                            </script>
                            <li>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="trip-card">
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-10">
                                            <h4>{{ trip.source}} - {{ trip.destination}}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-7"><strong>{{ trip.time}}</strong></div>
                                            <div class="col-xs-1">
                                                <a href="{% url 'trip_edit' trip.pk %}" ><span class="glyphicon glyphicon-edit"></span></a>
                                            </div>
                                            <div class="col-xs-1">
                                            <a href="{% url 'trip_delete' trip.pk %}" ><span class="glyphicon glyphicon-remove" ></span></a>
                                            </div>
                                        </div>
                                        <br>
                                        <p>
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-5">
                                            {% for passenger in trip.fellow_passengers_set.all %}
                                                    <a href="#" title="{{ passenger.user }}" data-toggle="popover" data-placement="bottom" data-content="<a href='{% url 'remove_passenger' passenger.pk %}'>Remove</a>" >
                                                        <img  alt="{{ passenger.user}}" class="img-rounded" width="25" src="{% if passenger.user.profile.avatar %}/media/{{ passenger.user.profile.avatar }}{% else %}/static/railmate/default_avatar.png {% endif %}"/>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                            <div class="col-xs-5">
                                            <a class="toggle_trip_{{ trip.pk }}">Add persons <span class="glyphicon glyphicon-plus-sign"></span></a>
                                            </p>
                                            </div>
                                        </div> <br>
                                        <form action="{%  url 'add_passenger' trip.pk%}" method="post">
                                            <div style ="display: none;" class="row text-center trip_{{ trip.pk }}">
                                                <div class="col-sm-8">
                                                    <select name="passanger" class="form-control">
                                                    {% for contact in contacts %}
                                                        {% if contact.user != user   %}
                                                            <option value="{{ contact.user.pk }}">{{ contact.user }}</option>
                                                        {% endif %}
                                                    {% endfor %}

                                                    </select>
                                                        <br>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button  type="submit" class="btn btn-warning">Add</button>
                                                </div>
                                            </div>{% csrf_token %}
                                        </form>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            </ul>
                    </div>
                <div class="tab-pane fade" id="history">
                    <ul class="list-unstyled row">
                        <!-- content of my history-->

                        {% for history in trip_history %}
                            {% ifchanged history.date.day %}
                                </ul><ul class="list-unstyled row"><div class="col-xs-12 col-sm-offset-1 col-sm-7"><h5><strong>{{history.date}}</strong></h5></div>
                            {% endifchanged %}
                            <script>
                                $(document).ready(function(){
                                        $(".toggle_trip_{{ history.pk }}").click(function(){
                                        $(".trip_{{ history.pk }}").slideToggle("slow");
                                             });
                                });
                            </script>
                            <li>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="trip-card">
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-10">
                                            <h4>{{ history.source}} - {{ history.destination}}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-7"><strong>{{ history.time}}</strong></div>
                                            <div class="col-xs-1">

                                            </div>
                                            <div class="col-xs-1">
                                            <a href="{% url 'trip_delete' history.pk %}" ><span class="glyphicon glyphicon-remove" ></span></a>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-5">
                                            {% for passenger in history.fellow_passengers_set.all %}
                                                {% if passenger.user.profile.avatar %}
                                                    <img alt="{{ passenger.user}}" class="img-rounded" width="25" src="/media/{{ passenger.user.profile.avatar }}"/>
                                                {% else %}
                                                    <img alt="{{ passenger.user}}" class="img-rounded" width="25" src="/static/railmate/default_avatar.png">
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                            <div class="col-xs-5">
                                            </div>
                                        </div> <br>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            </ul>

                </div>
                </div>
            </div>
    </div>
{% endblock %}