{% extends 'railmate/base.html' %}
{% block content %}
    <div class="container text-center top-bottom-margin">
        <div class="col-sm-4 text-left">
            <div class="card-background row" id="account ">
                <h4 class="card-title">Account
                    {% if user_info.avatar %}
                        <img class="avatar" src="{{ user_info.avatar.url }}">
                    {% else %}
                        <img class="avatar" src="/static/railmate/default_avatar.png">
                    {% endif %}
                </h4>
                <div class="col-xs-5"><strong>
                    <p>Name:</p>
                    <p>E-mail:</p>
                    <p>Age:</p>
                </strong>
                </div>
                <div class="col-xs-7">
                    <p>{{ user_info.user }}</p>
                    <p>{{ user_info.email }}</p>
                    <p>{{ user_info.age }}</p>
                </div>
                <div class="col-xs-7"><a href="{% url 'edit' %}">Edit <span class="glyphicon glyphicon-edit"></span></a></div>
            </div>
            <div class="card-background row" id="reviews">
                <h4>Reviews</h4>
                <ul class="list-unstyled">
                    <li class="list-item"><img class="avatar" src="">
                        <h4>Comment title</h4>
                        <p>Comment itself</p>
                    </li>
                    <li class="list-item"><img class="avatar" src="">
                        <h4>Comment title</h4>
                        <p>Comment itself</p>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-sm-8 ">
            <div class="tab-background">
                <ul class="nav nav-tabs">
                    <li class="active col-xs-6"><a data-toggle="tab" href="#my-trips">My trips</a></li>
                    <li class="col-xs-6"><a data-toggle="tab" href="#history">History</a></li>
                </ul>

                <div class="panel-body card-background tab-content text-left">
                    <form class="tab-pane fade in active" id="my-trips" method="post" role="form">
                        <ul class="list-unstyled row">
                            <!-- content of my trips-->
                            <li>
                                <h5 class="text-center"><strong>Thursday 14-12-2017</strong></h5>
                                <div class="col-xs-6">
                                    <div class="trip-card">
                                        <p>Den Bosch - Amsterdam <br> 12:00 - 13:10</p>
                                        <a href="#">Add persons <span class="glyphicon glyphicon-plus-sign"></span></a>
                                        <a href="#" class="avatar">edit</a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="trip-card">
                                        <p>Den Bosch - Amsterdam <br> 12:00 - 13:10</p>
                                        <a href="#">Add persons <span class="glyphicon glyphicon-plus-sign"></span></a>
                                        <a href="#" class="avatar">edit</a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h5 class="text-center"><strong>Friday 15-12-2017</strong></h5>
                                <div class="col-xs-6">
                                    <div class="trip-card">
                                        <p>Den Bosch - Amsterdam <br> 12:00 - 13:10</p>
                                        <a href="#">Add persons <span class="glyphicon glyphicon-plus-sign"></span></a>
                                        <a href="#" class="avatar">edit</a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="trip-card">
                                        <p>Den Bosch - Amsterdam <br> 12:00 - 13:10</p>
                                        <a href="#">Add persons <span class="glyphicon glyphicon-plus-sign"></span></a>
                                        <a href="#" class="avatar">edit</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </form>
                    <form class="tab-pane fade" id="history" method="post" role="form">
                        <ul class="list-unstyled row">
                            <!-- content of history-->
                            <li>
                                <h5 class="text-center"><strong>Thursday 00-12-2017</strong></h5>
                                <div class="col-xs-6">
                                    <div class="trip-card">
                                        <p>Den Bosch - Amsterdam <br> 12:00 - 13:10</p>
                                        <a href="#">Add persons <span class="glyphicon glyphicon-plus-sign"></span></a>
                                        <a href="#" class="avatar">edit</a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="trip-card">
                                        <p>Den Bosch - Amsterdam <br> 12:00 - 13:10</p>
                                        <a href="#">Add persons <span class="glyphicon glyphicon-plus-sign"></span></a>
                                        <a href="#" class="avatar">edit</a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <h5 class="text-center"><strong>Friday 01-12-2017</strong></h5>
                                <div class="col-xs-6">
                                    <div class="trip-card">
                                        <p>Den Bosch - Amsterdam <br> 12:00 - 13:10</p>
                                        <a href="#">Add persons <span class="glyphicon glyphicon-plus-sign"></span></a>
                                        <a href="#" class="avatar">edit</a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="trip-card">
                                        <p>Den Bosch - Amsterdam <br> 12:00 - 13:10</p>
                                        <a href="#">Add persons <span class="glyphicon glyphicon-plus-sign"></span></a>
                                        <a href="#" class="avatar">edit</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}