{% extends 'railmate/base.html' %}

{% block content %}
<div class="col-sm-12">
    {% block account %}{% endblock %}
</div>

<div class=" top-bottom-margin">
    <div class="col-sm-4 ">
        <div class="card-background" id="didyouknow ">
            <h4 class="card-title">
                <a class="" data-toggle="collapse" data-target="#didyouknowtext">Did you know?..</a></h4>
            <p class="card-text " id="didyouknowtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="col-sm-8 ">
        <div class="tab-background">
            <ul class="nav nav-tabs">
                <li class="active col-xs-6"><a data-toggle="tab" href="#find-trip-form">Find trip</a></li>
                <li class="col-xs-6"><a data-toggle="tab" href="#create-trip-form">Create trip</a></li>

            </ul>

            <div class="panel-body card-background tab-content">

                <form class="tab-pane fade in active" id="find-trip-form" method="get" action="/search/" name='search'
                      role="form">
                    <div class="form-group col-sm-6">
                        <label for="searchFrom-source">From</label>
                        <select id='searchForm-source' name="source" class="form-control">
                            {% for station in form %}
                                <option value="{{ station.code }}">{{ station.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="searchFrom-destination">To</label>
                        <select id='searchForm-destination' name="destination" class="form-control">
                            {% for station in form %}
                                <option value="{{ station.code }}">{{ station.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="date1">Date</label>
                        <input type="date" name="date" class="form-control" id="date1">
                    </div>
                    <div class="form-group col-sm-6">
                        <div><label for="everytimes1">Every</label></div>
                        <div class="col-xs-5"><input type="number" class="form-control" name='recurrence'
                                                     id="everytimes1"></div>
                        <div class="col-xs-7"><select class="form-control" name='recurrence-unit' id="sel1">
                            <option>days</option>
                            <option>weeks</option>
                            <option>month</option>
                        </select></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="time1">Time</label>
                        <input type="time" class="form-control" id="time1" name="time">
                    </div>
                    <div class="form-group col-sm-6">
                        <div><label for="plusminus1">+/-</label></div>
                        <div class="col-xs-6"><input type="number" class="form-control" name='deviation'
                                                     id="plusminus1"></div>
                        <div class="col-xs-6 text-left"><p>Hours</p></div>
                    </div>
                    <div class="text-right">
                        <button type="submit" value='search' class="btn btn-primary"><span
                                class="glyphicon glyphicon-search"></span>
                            Search
                        </button>
                    </div>
                </form>
                {% csrf_token %}
                <form class="tab-pane fade" id="create-trip-form" action='../create/' method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group col-sm-6">
                        <label for="createForm-source">From</label>
                        <select id='createForm-source' name="source" class="form-control">
                            {% for station in form %}
                                <option value="createForm-source-{{ station.code }}">{{ station.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="createForm-destination">To</label>
                        <select id='createForm-destination' name="destination" class="form-control">
                            {% for station in form %}
                                <option value="createForm-destination-{{ station.code }}">{{ station.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="date2">Date</label>
                        <input type="date" class="form-control" id="date2">
                    </div>
                    <div class="form-group col-sm-6">
                        <div><label for="everytimes1">Every</label></div>
                        <div class="col-xs-5"><input type="number" class="form-control" id="everytimes"></div>
                        <div class="col-xs-7"><select class="form-control" id="sel2">
                            <option>days</option>
                            <option>weeks</option>
                            <option>month</option>
                        </select></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="time2">Time</label>
                        <input type="time" class="form-control" id="time2">
                    </div>
                    <div class="form-group col-sm-6">
                        <div><label for="plusminus2">+/-</label></div>
                        <div class="col-xs-6"><input type="number" class="form-control" id="plusminus2"></div>
                        <div class="col-xs-6 text-left"><p>Hours</p></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="sel2">Subscription</label>
                        <select class="form-control" id="sel3">
                            <option>Weekly free</option>
                            <option>Weekend free</option>
                            <option>40% off</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="sel3">Compensation</label>
                        <select class="form-control" id="sel4">
                            <option>Share 20%</option>
                            <option>Free beer</option>
                            <option>Other</option>
                            <option>Nothing</option>
                        </select>
                    </div>
                    <div class="text-right">
                        <button type="submit" value='post' class="btn btn-primary"><span
                                class="glyphicon glyphicon-arrow-right"></span> Post
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-8 text-left top-bottom-margin">
            {% block trips %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
