{% extends "railmate/base.html" %}
{% block content %}
    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 15000);
    </script>
    <div class="container text-center top-bottom-margin">
        <div class="col-sm-4 text-left">
            <div class="card-background row text-center" id="reviews">
                {% if conversations %}
                    <h4>Conversations</h4>
                {% else %}
                    <br>
                    <h4>No contacts made yet</h4>
                    <br>
                {% endif %}
                <div class="list-unstyled contactlist text-left">
                    <form method="post">
                        {% csrf_token %}
                        {% if unread %}
                            <p class="text-center">Unread</p>
                            {% for msg in unread %}
                                <div class="unread">
                                    <button type="submit" class="btn transparent" name="select2"
                                            value="{{ msg.sender }}">
                                        <h4>{{ msg.sender }}</h4></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="contactlist-divider"></div>
                        {% for contact in conversations %}
                            {% if contact != recipient %}
                                <div class="">
                                    <button type="submit" class="btn transparent" name="select" value="{{ contact }}">
                                        <h4>{{ contact }}</h4></button>
                                </div>
                            {% else %}
                                <div class="selector">
                                    <h4>{{ contact }}</h4>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>

        {% block chat %}
        {% endblock %}
        <div class="col-sm-8 ">
            <div class="tab-background">

                <div class="panel-body card-background text-left">
                    <div class="list-unstyled coversation_list">
                        <!-- list conversation messages-->
                        {% for msg in conversation.reverse %}
                            {% if msg.sender == user %}
                                <li class="right" style="text-align: right">
                                    <div class="message-card text-right">
                                        <h5>{{ msg }}</h5>
                                        <h6 class="text-left" style="color: #a0a0a0">{{ msg.sent_at }}</h6>
                                    </div>
                                </li>

                            {% else %}
                                <li>
                                    <div class="message-card2">
                                        <h5>{{ msg }}</h5>
                                        <h6 class="text-right" style="color: #a0a0a0">{{ msg.sent_at }}</h6>
                                    </div>
                                </li>
                            {% endif %}

                        {% endfor %}

                    </div>

                </div>
                <div class="card-background">

                    <form method="post">
                        {% csrf_token %}
                        {% for field in message_form %}
                            <p>{{ field.label_tag }}
                                <br>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}

                        {% if conversations %}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn" value="send_message" name="send_message">Send
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}