{% extends "railmate/base.html" %}
{% block content %}
    <div class="container text-center top-bottom-margin">
        <div class="col-sm-4 text-left">
            <div class="card-background row" id="reviews">
                {% if unread %}
                    <h5>Unread</h5>
                    {% for msg in unread %}
                        <div class="">
                            <h6>{{ msg }}</h6>
                        </div>
                    {% endfor %}
                {% endif %}
                <h4>Conversations</h4>
                <div class="list-unstyled">
                    <form method="post">
                        {% csrf_token %}
                        {% for contact in conversations %}
                            <div class="trip-card">
                                {% if user.profile.avatar %}
                                    <img class="avatar" src="{{ user.profile.avatar.url }}">
                                {% else %}
                                    <img class="avatar" src="/static/railmate/default_avatar.png">
                                {% endif %}
                                <button type="submit" class="btn" name="select" value="{{ contact }}">
                                    <h4>{{ contact }}</h4></button>
                            </div>
                            <br>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>


        <div class="col-sm-8 ">
            <div class="tab-background">

                <div class="panel-body card-background text-left">
                    <div class="list-unstyled coversation_list" >
                        <!-- list conversation messages-->
                        {% for msg in conversation.reverse %}
                            {% if msg.sender == user %}
                                <li class="right" style="text-align: right">
                                <div class="message-card text-right">
                                    <h5>{{ msg }}</h5>
                                    <h6 class="text-left" style="color: #a0a0a0">{{ msg.sent_at }}</h6>
                                </div>
                                </li>

                            {% else %}
                                <li>
                                <div class="message-card2">
                                    <h5>{{ msg }}</h5>
                                    <h6 class="text-right" style="color: #a0a0a0">{{ msg.sent_at }}</h6>
                                </div>
                                </li>
                            {% endif %}

                        {% endfor %}

                    </div>

                </div>
                <div class="card-background">

                    <form method="post">
                        {% csrf_token %}
                        {% for field in message_form %}
                            <p>{{ field.label_tag }}
                                <br>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}


                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn" value="send_message" name="send_message">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}